.jumbotronAdd{
    box-shadow:  0 0 20px rgb(187, 140, 39);
}
.btnAdd{
    box-shadow:  0 0 20px rgb(187, 140, 39) inset;
}
.form-control{
    width: 70%;
    margin: 0 auto;
}

.form-control{
    text-align: center;
    font-weight: bolder;
    background-color: white !important;
    color:black;
}
.form-control:focus{
    box-shadow:  0 0 20px rgb(240, 164, 1) inset;
}
.alert-red{
    display: none;
    background-color: rgb(65, 145, 65);
    color:white;
    font-weight: bolder;
}