#card-mobile:hover{
    box-shadow:  0 0 15px rgb(236, 173, 37) inset;
}
.jumbotronBuy{
    box-shadow:  0 0 20px rgb(187, 140, 39);
}

#card-mobile{
    padding: 30px 5px;
}

/* #getBuy{
    box-shadow:  0 0 50px rgb(187, 140, 39) inset;
} */

#add_cart_alert{
    /* display: none; */
    background-color: rgb(87, 143, 87);
    color:white;
    font-weight: bolder;
}
