.jumbotronRemove{
    box-shadow:  0 0 20px rgb(187, 140, 39);
}
.jumbotronRemove ul li{
    background-color: rgb(89, 97, 47) !important;
    font-weight: bolder;
    font-size: large;
}
.text-red{
    color:red;
}

.tableremove thead tr{
   color:#181716;
   font-weight: bolder;
   
   
}

.tableremove tbody tr td{
   font-size: 20px;
}

#remove-icon:hover{
    color:red;
}


